<html>
  <head>
    <style>
      body {
        background-color: black;
      }
      .color-switch {
        width: 100%;
        text-align: center;
        font-size: 48px;
        color: white;
        animation: color-switch 5s linear infinite;
      }
      @keyframes color-switch {
        0% {
          color: white;
        }
        50% {
          color: red;
        }
        100% {
          color: white;
        }
      }
    </style>
  </head>
  <body>
    <div class="color-switch">OpayForMeExploit</div>
  </body>
</html>